@model IEnumerable<Blog.Models.ArticleModel>

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Поиск по тегу</title>
    @Html.Partial("~/Views/Shared/Header.cshtml")
</head>
<body>
    <div id="main">
        <div id="left_content" style="background-image: url('/Content/images/tag.jpg')">
            <div id="txt">
                <h1>Поиск по тегу</h1>
                <p>#@Html.Action("GetTagById", "Tag", new { tagId = @ViewBag.TagId})</p>
            </div>
        </div>

        <div id="right_content">
            @Html.Partial("~/Views/Shared/TopMenu.cshtml")

            @Html.Partial("~/Views/Article/TopPreViewArticle.cshtml")
        </div>
    </div>
</body>
</html>
